@import "tailwindcss";

* {
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* === NAVBAR HOVER ANIMATION === */
.nav-item {
  position: relative;
  padding-bottom: 4px;
  transition: color 0.2s ease;
}

.nav-item:hover {
  color: #4caf50;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #4caf50;
  transition: width 0.25s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
}

.active-nav {
  color: #4caf50;
  font-weight: 600;
}

.active-nav::after {
  width: 100%;
}
